@model IEnumerable<Shop_new.Models.PayOrderModel>
@{
    Layout = "_Layout";
}

<!--if (ViewBag.Value != null)
{
    <div style="border-top: 40px">
        <font color="red"> В корзине <b>ViewBag.Value.ToString()</b> элементов</font>
    </div>
}
-->

<form method="post" action="@ViewBag.UserId.ToString()/addorder" >
    <button>Создать заказ</button>
</form> 

<table style="margin-top: 40px" class="table" border="1">
    <tr>
        <th>
            <p>Сумма заказа</p>
        </th>
        <th>
            <p>Сколько оплачено</p>
        </th>
        <th>
            <p>Дата составления заказа</p>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <!--<a href="item.UserId/info/item.Id"> -->
            <tr onclick="window.location.href='@item.UserId.ToString()/info/@item.Id'; return false">

                <td>
                    <strong><em>@item.TotalSum.ToString()</em></strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

            </tr>
        <!--</a> -->
    }
</table>

